*{margin:0;padding:0}
li{list-style:none}
img{vertical-align:top;border:none}
/*a { text-decoration: none; }*/
/*a:hover { text-decoration: underline; }*/
#header{
    height: 50px;
    width: 100%;
    background: #20a0ff;
    line-height:50px;
    color: white;
    font-size: 25px;
    font-family: "微软雅黑";
    padding-left: 10px;
}
#content{
    width: 1280px;
    height: 486px;
}
#left{
    float: left;
}
dl{
    width: 180px;
}
dt,dd{
    height: 55px;
    padding-left: 15px;
    line-height: 57px;
    color: black;
    background: #ECEDED;
    border-bottom: solid 1px #00000026;
    cursor: pointer;
}
dd{
    background: #ECF5FF;
    height: 30px;
    line-height: 30px;
    padding-left: 40px;
    display: none;
    cursor: pointer;
}
#right{
    width: 1000px;
    height: 486px;
    float: left;
}
iframe{
    border: none;
    padding: 5px;
    height: 486px;
    width: 100%;
}
/*li{*/
    /*width:200px;*/
    /*height:80px;*/
    /*text-align: center;*/
    /*!*垂直居中*!*/
    /*line-height: 80px;*/
    /*!*  字体颜色 *!*/
    /*color: blue;*/
    /*!*  背景颜色 *!*/
    /*background-color: #cccccc;*/
    /*border-bottom: solid 1px black;*/
/*}*/
